* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.calculator {
    display: grid;
    color: black;
    max-width: 100vh;
    height: auto;
    text-align:center;
    align-content: center;
    grid-template-columns:0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". total total total total ."
    ". output output output output ."
    ". ac back percent divide ."
    ". seven eight nine time ." 
    ". four five six minus ."
    ". one two three plus ."
    ". nil nil dec equals .";

    &__output {
        grid-area: output;
        text-align: right;
        color: black;
        background-color: white;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        word-break: break-all;
        padding: 20px;
    }
    &__light-buttons {
        border: solid black 1px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: block;
        background-color: lightgray;
    }
    &__grey-buttons {
        border: solid black 1px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: white;
        width: 30px;
        display: block;
        background-color: grey;
    }
    &__orange-buttons {
        border: solid black 1px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: white;
        width: 30px;
        display: block;
        background-color: orange;
    }
    &__zero-button {
        border: solid black 1px;
        border-radius: 40px;
        height: 30px;
        width: 85px;
        display: block;
        background-color: grey;
        text-align: left;
        padding-left: 11px;
    }
}



.calculator__light-buttons:hover {
    opacity: 0.6;
}
.calculator__orange-buttons:hover {
    opacity: 0.6;
}
.calculator__grey-buttons:hover {
    opacity: 0.6;
}
.calculator__zero-button:hover {
    opacity: 0.6;
}



#total-display {
    grid-area: total;
    color: yellow;
    background-color: white;
}
#AC {
grid-area: ac;
}
#back {
    grid-area: back;
}
#percent {
    grid-area: percent;
}
#divide {
    grid-area: divide;
}
#time {
    grid-area: time;
}
#minus {
    grid-area: minus;
}
#plus {
    grid-area: plus;
}
#dec {
    grid-area: dec;
}
#equals {
    grid-area: equals;
}
#zero {
    grid-area: nil;
}
#one {
    grid-area: one;
}

#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}