@use "./SCSS Files/sections.scss";
@use "./SCSS Files/grid-tags.scss";
@use "./SCSS Files/styles.scss" as *;


* {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
