//storing all the id tags for use in the grid 

#total-display {
    grid-area: total;
}
#AC {
    grid-area: ac;
}
#neg {
    grid-area: neg;
}
#percent {
    grid-area: percent;
}
#divide {
    grid-area: divide;
}
#time {
    grid-area: time;
}
#minus {
    grid-area: minus;
}
#plus {
    grid-area: plus;
}
#dec {
    grid-area: dec;
}
#equals {
    grid-area: equals;
}
#zero {
    grid-area: nil;
}
#one {
    grid-area: one;
}

#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}