.button:hover {
  opacity: 0.6;
}

.function-button:hover {
  opacity: 0.6;
}

.calculator {
  display: grid;
  background-color: black;
  color: black;
  max-width: 100vh;
  gap: 2px;
  height: auto;
  text-align: center;
  align-content: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". total total total total ." ". output output output output ." ". ac neg percent divide ." ". seven eight nine time ." ". four five six minus ." ". one two three plus ." ". nil nil dec equals .";
}
.calculator__output {
  grid-area: output;
  font-size: xx-large;
  text-align: end;
  justify-content: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding-right: 10px;
}
.calculator__light-buttons {
  border: solid black 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: block;
  background-color: lightgrey;
  padding-top: 4px;
}
.calculator__grey-buttons {
  border: solid black 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  display: block;
  background-color: grey;
  padding-top: 4px;
}
.calculator__orange-buttons {
  border: solid black 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  display: block;
  background-color: orange;
  padding-top: 4px;
}
.calculator__zero-button {
  border: solid black 1px;
  border-radius: 40px;
  color: white;
  height: 40px;
  width: 85px;
  display: block;
  background-color: grey;
  text-align: left;
  padding-left: 11px;
  padding-top: 6px;
}

@media screen and (min-width: 425px) {
  .calculator {
    font-size: large;
    gap: 5px;
  }
  .calculator__output {
    font-size: xxx-large;
    padding: 10px;
  }
  .calculator__light-buttons {
    height: 50px;
    width: 50px;
    padding-top: 14px;
  }
  .calculator__grey-buttons {
    height: 50px;
    width: 50px;
    padding-top: 14px;
  }
  .calculator__orange-buttons {
    height: 50px;
    width: 50px;
    padding-top: 14px;
  }
  .calculator__zero-button {
    height: 50px;
    width: 105px;
    padding-left: 21px;
    padding-top: 14px;
  }
}
@media screen and (min-width: 768px) {
  .calculator {
    font-size: xx-large;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
  }
  .calculator__output {
    font-size: xxx-large;
    padding: 20px;
  }
  .calculator__light-buttons {
    height: 80px;
    width: 80px;
    padding-top: 20px;
  }
  .calculator__grey-buttons {
    height: 80px;
    width: 80px;
    padding-top: 20px;
  }
  .calculator__orange-buttons {
    height: 80px;
    width: 80px;
    padding-top: 20px;
  }
  .calculator__zero-button {
    height: 80px;
    width: 170px;
    padding-left: 35px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .calculator {
    margin-top: 50px;
    max-width: 100%;
    font-size: xxxx-large;
    gap: 10px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 0.3fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
  }
  .calculator__output {
    font-size: xxxx-large;
    padding: 20px;
  }
  .calculator__light-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__grey-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__orange-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__zero-button {
    height: 85px;
    width: 180px;
    padding-left: 35px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .calculator {
    margin-top: 50px;
    max-width: 100%;
    font-size: xxxx-large;
    gap: 10px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 0.3fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
  }
  .calculator__output {
    font-size: xxxx-large;
    padding: 20px;
  }
  .calculator__light-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__grey-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__orange-buttons {
    height: 85px;
    width: 85px;
    padding-top: 15px;
  }
  .calculator__zero-button {
    height: 85px;
    width: 210px;
    padding-left: 35px;
    padding-top: 18px;
  }
}