.calculator__light-buttons:hover {
  opacity: 0.6;
}

.calculator__orange-buttons:hover {
  opacity: 0.6;
}

.calculator__grey-buttons:hover {
  opacity: 0.6;
}

.calculator__zero-button:hover {
  opacity: 0.6;
}